@import "tailwindcss";
@font-face {
    font-family: 'MyFont';
    src: url('/fonts/Coconut Kids.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }

  @keyframes scrollRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
  
  .slider-container {
    overflow: hidden;
    width: 100%;
  }
  
  .slider-track {
    display: flex;
    width: max-content;
    animation: scrollRight 10s linear infinite;
    will-change: transform;
  }