@import "tailwindcss";
@font-face {
    font-family: 'MyFont';
    src: url('/fonts/Coconut Kids.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }